<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .body {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .container {
      max-width: 600px;
      background-color: #f7f7f7;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
      margin-bottom: 20px;
color: darkolivegreen;
    }

  </style>
<div class="body">
      <div class="container">
    <h1 class="text-center">Terms and Conditions</h1>

    <h2>1. Intellectual Property Rights</h2>
    <p>a. All content on this website, including text, graphics, logos, button icons, images, audio clips, and software, is the property of Paulamed Pharma Cafe or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of Paulamed Pharma Cafe and protected by international copyright laws.</p>
    <p>b. You may not use, reproduce, modify, distribute, display, perform, or create derivative works from any of the content without prior written consent from Paulamed Pharma Cafe.</p>

    <h2>2. Disclaimer</h2>
    <p>a. The information provided on this website is for general informational purposes only and should not be considered medical or professional advice. Consult with a qualified healthcare professional before making any decisions based on the information provided.</p>
    <p>b. Paulamed Pharma Cafe makes no representations or warranties of any kind, express or implied, regarding the accuracy, reliability, or completeness of the information on this website.</p>

    <h2>3. Limitation of Liability</h2>
    <p>a. In no event shall Paulamed Pharma Cafe be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in connection with the use of this website.</p>
    <p>b. Paulamed Pharma Cafe shall not be liable for any damages or loss resulting from any interruption, delay, or failure in the operation of the website, including but not limited to technical errors, viruses, or system failures.</p>

    <h2>4. Privacy Policy</h2>
    <p>a. Paulamed Pharma Cafe respects your privacy and is committed to protecting your personal information. Any information collected on this website will be used solely for the purpose of providing the requested services and improving the user experience.</p>
    <p>b. We will not sell, rent, or disclose your personal information to any third parties without your consent, unless required by law.</p>

    <h2>5. User Conduct</h2>
    <p>a. By using this website, you agree to abide by all applicable laws and regulations and to conduct yourself in a responsible and ethical manner.</p>
    <p>b. You are prohibited from engaging in any conduct that may disrupt or interfere with the operation of the website, or that may infringe upon the rights of others.</p>

    <h2>6. Refunds</h2>
    <p>a. Refunds for products purchased through our website are subject to our refund policy. Please refer to our refund policy for detailed information on eligibility, procedures, and timelines for refunds.</p>
    <p>b. We reserve the right to refuse or limit refunds based on the nature of the product or service, as well as any applicable laws or regulations.</p>

    <h2>7. Security & Payments</h2>
    <p>a. We prioritize the security of your personal and payment information. We implement industry-standard security measures to protect your data and ensure secure transactions.</p>
    <p>b. However, please note that no method of transmission over the internet or electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your information, we cannot guarantee absolute security.</p>

    <h2>8. Liability</h2>
    <p>a. Paulamed Pharma Cafe shall not be held liable for any damages, losses, or injuries arising out of or in connection with the use of our products, services, or website.</p>
    <p>b. We shall not be responsible for any adverse reactions or consequences resulting from the use of our products, as individual responses may vary. It is your responsibility to read and follow all instructions, warnings, and precautions provided.</p>
    <h2>9. Changes to terms</h2>
    <p>a.If we change our terms of use we will post those changes on this page.</p>

  </div>

</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>