body {
margin: 0;
border: 0;
    width: 100%;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
white-space: none;
overflow-x: hidden;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .jumbotron {
    background-color: #ffcd93;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
  top: 0;
  z-index: -100;
  }
  .container-fluid {
    padding: 60px 50px;
 max-width: 100%;
  margin: 0 auto;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #ffcd93;
    font-size: 50px;
  }

.logo-small img {
       width: 300px;
    }


.logo2 img{
    color: #ffcd93;
    width: 600px;
    /* perspective: 250px;
    transform: rotateX(0deg) rotateY(40deg) rotateZ(0deg) skewX(-10deg) translateX(220px) translateY(25px) ; */
transform: perspective(1000px)rotateY(25deg)rotateX(0deg)rotateZ(-2deg);
    position: relative;
    left: 50px;
    top: -50px;
box-shadow: -15px 7px 7px rgb(136, 136, 136);
  }


  .logo img{
    color: #ffcd93;
    width: 600px;
    /* perspective: 250px;
    transform: rotateX(0deg) rotateY(40deg) rotateZ(0deg) skewX(-10deg) translateX(220px) translateY(25px) ; */
transform: perspective(1000px)rotateY(-40deg)rotateX(-10deg)rotateZ(8deg);
    position: relative;
    left: -200px;
    top: 0;
box-shadow: 15px 7px 7px rgb(136, 136, 136);
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }


  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #818181 !important;
  }
  .carousel-indicators li {
    border-color: #a9a9a9 !important;
  }
  .carousel-indicators li.active {
    background-color: #818181 !important;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
  font-family: 'Roboto Mono', monospace;
  }

.item small{
font-family: 'Italiana', serif
}
  .item span {
    font-style: normal;
  }
  .panel {
margin-top: 70px;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #ffcd93;
    background-color: #fff !important;
    color: #ffcd93;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #ffcd93 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #ffcd93;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #ffcd93;
    z-index: 9999;
    width: 100%;
    font-size: 12px !important;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navbar .nav-container{
width: 100%;
}

  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffcd93;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }



#loading-container{
  width: 100%;
  height: 100vh;
  background-color: #ffcd93;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader {
  width: 65px;
  height: 65px;
  border: 8px solid #ee9b00a6;
  border-radius: 50px;
  position: relative;
}

.loader span {
  display: block;
  background: #ee9b00;
}

.loader .hour,
.loader .min {
  width: 6px;
  height: 22px;
  border-radius: 50px;
  position: absolute;
  top: 24.5px;
  left: 21px;
  animation: load9243 1.2s linear infinite;
  transform-origin: top center;
}

.loader .min {
  height: 17px;
  animation: load9243 4s linear infinite;
}

.loader .circel {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: 19px;
  left: 19px;
}

@keyframes load9243 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}