* {
    padding: 0;
    border: 0;
}

.dash-content {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
overflow: scroll;

}
.no-bullets {
  list-style-type: none;
}