<% layout('/layouts/boilerplate') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<style>
.message {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

.admin-message {
  background-color: #eee;
  color: black;
  align-self: flex-end;
}

.user-message {
  background-color: #007bff;
  color: white;
  align-self: flex-start;
}

</style>

<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">

        <div class="card" id="chat2">
          <div class="card-header d-flex justify-content-between align-items-center p-3">
            <h5 class="mb-0">Chat</h5>
            <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Let's Chat
              App</button>
          </div>
          <div class="card-body" id="message-container" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">


            <div class="divider d-flex justify-content-center align-items-center mb-4">
              <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
            </div>
          </div>
          <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <img src="/images/junjo.png" alt="avatar 3" style="width: 40px; height: 100%;border-radius: 50%;" class="img-fluid rounded-3 me-2">
     <form id="send-container" class="form-control form-control-lg">
            <div class="d-flex flex-row">
            <input type="text" id="message-input" class="form-control bg-transparent input" placeholder="Type message">
            <button type="submit" id="send-button"  style="border: none;" class="me-auto"><i class="fas fa-paper-plane"></i></button>
            </div>
            <div class="d-flex flex-row  mt-3">
            <label for="room" class="form-label">Room</label>
            <input type="text" id="room-input" class="form-control bg-transparent input w-50">
            <button type="submit" id="room-button" class="btn-sm btn-secondary ms-2">Join</i></button>
            </div>
    </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>




<script src="/javascript/chat.js"></script>